In [ ]:
#https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html
#https://dataitgirls2.github.io/tutorial/Tutorial_180717_10minPandas.html

In [ ]:
# 라이브러리 사용 
import numpy as np
import pandas as pd

In [ ]:
# 사용 라이브러리 버젼
print("numpy ver = ", np.__version__)
print("pandas ver = {}".format(pd.__version__))

numpy ver =  1.20.1
pandas ver = 1.2.4

### 1. Object Creation, 객체 생성

In [ ]:
s = pd.Series([1,3,5,np.nan, 6,8]);s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
np.nan

nan

In [ ]:
dates = pd.date_range("20130101",periods=6) 
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.DataFrame(np.random.randn(6,4), 
            index=dates, 
            columns=list("ABCD"))

                   A         B         C         D
2013-01-01  1.190181  1.157567 -0.305791 -1.146077
2013-01-02 -0.099670  1.423975 -0.437689  1.847279
2013-01-03  0.848275  0.193297  0.162050 -1.471488
2013-01-04  0.786704 -0.204181  0.960642  1.539853
2013-01-05  1.595300 -0.462639 -2.223482 -0.055655
2013-01-06 -0.899828 -0.626223  0.946786 -0.447986

In [ ]:
np.random.seed(12)
df = pd.DataFrame(np.random.randn(6,4), 
            index=dates, 
            columns=["A","B","C","D"]) # list("ABCD")

In [ ]:
np.random.seed(12)
np.random.randn(6,4)

array([[ 0.47298583, -0.68142588,  0.2424395 , -1.70073563],
       [ 0.75314283, -1.53472134,  0.00512708, -0.12022767],
       [-0.80698188,  2.87181939, -0.59782292,  0.47245699],
       [ 1.09595612, -1.2151688 ,  1.34235637, -0.12214979],
       [ 1.01251548, -0.91386915, -1.02953021,  1.20979645],
       [ 0.5018723 ,  0.13884618,  0.64076111,  0.52733267]])

In [ ]:
df2 = pd.DataFrame({"A":1.0,
                    "B":pd.Timestamp("20130102"),
                    "C":pd.Series(1, index=list(range(4)), dtype="float32"),
                    "D":np.array([3]*4, dtype="int32"),
                    "E":pd.Categorical(["test","train","test","train"]),
                    "F":"foo"})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       4 non-null      datetime64[ns]
 2   C       4 non-null      float32
 3   D       4 non-null      int32
 4   E       4 non-null      category
 5   F       4 non-null      object
dtypes: category(1), datetime64[ns](1), float32(1), float64(1), int32(1), object(1)
memory usage: 288.0+ bytes

In [ ]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## ( Viewing data, 데이터 조회 )

In [ ]:
df.head()

                   A         B         C         D
2013-01-01 -0.275786 -0.552108  0.120747  0.748216
2013-01-02  1.608691 -0.270232  0.812341  0.499740
2013-01-03  0.474347 -0.563924 -0.997321 -1.100043
2013-01-04 -0.756437  0.321687  0.760949  0.323469
2013-01-05 -0.548955  1.805970  1.518866 -0.354000

In [ ]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.756437  0.321687  0.760949  0.323469
2013-01-05 -0.548955  1.805970  1.518866 -0.354000
2013-01-06 -0.823431  0.130215  1.267299  0.332765

In [ ]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df.columns = ["A","B","C","D"]
df

                   A         B         C         D
2013-01-01 -0.275786 -0.552108  0.120747  0.748216
2013-01-02  1.608691 -0.270232  0.812341  0.499740
2013-01-03  0.474347 -0.563924 -0.997321 -1.100043
2013-01-04 -0.756437  0.321687  0.760949  0.323469
2013-01-05 -0.548955  1.805970  1.518866 -0.354000
2013-01-06 -0.823431  0.130215  1.267299  0.332765

In [ ]:
##  B,C로 구성된 tmp df를 만드세요. 
tmp = df[["B","C"]] ; tmp

                   B         C
2013-01-01 -0.552108  0.120747
2013-01-02 -0.270232  0.812341
2013-01-03 -0.563924 -0.997321
2013-01-04  0.321687  0.760949
2013-01-05  1.805970  1.518866
2013-01-06  0.130215  1.267299

In [ ]:
df.to_numpy()

array([[-0.27578601, -0.55210807,  0.12074736,  0.74821562],
       [ 1.60869097, -0.27023239,  0.81234133,  0.49974014],
       [ 0.4743473 , -0.56392393, -0.99732147, -1.10004311],
       [-0.75643721,  0.32168658,  0.76094939,  0.32346885],
       [-0.5489551 ,  1.80597011,  1.51886562, -0.35400011],
       [-0.82343141,  0.13021495,  1.26729865,  0.33276498]])

In [ ]:
df.values

array([[-0.27578601, -0.55210807,  0.12074736,  0.74821562],
       [ 1.60869097, -0.27023239,  0.81234133,  0.49974014],
       [ 0.4743473 , -0.56392393, -0.99732147, -1.10004311],
       [-0.75643721,  0.32168658,  0.76094939,  0.32346885],
       [-0.5489551 ,  1.80597011,  1.51886562, -0.35400011],
       [-0.82343141,  0.13021495,  1.26729865,  0.33276498]])

In [ ]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [ ]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.053595  0.145268  0.580480  0.075024
std    0.940564  0.888955  0.909882  0.682139
min   -0.823431 -0.563924 -0.997321 -1.100043
25%   -0.704567 -0.481639  0.280798 -0.184633
50%   -0.412371 -0.070009  0.786645  0.328117
75%    0.286814  0.273819  1.153559  0.457996
max    1.608691  1.805970  1.518866  0.748216

In [ ]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.275786    1.608691    0.474347   -0.756437   -0.548955   -0.823431
B   -0.552108   -0.270232   -0.563924    0.321687    1.805970    0.130215
C    0.120747    0.812341   -0.997321    0.760949    1.518866    1.267299
D    0.748216    0.499740   -1.100043    0.323469   -0.354000    0.332765

In [ ]:
df.sort_index()

                   A         B         C         D
2013-01-01 -0.275786 -0.552108  0.120747  0.748216
2013-01-02  1.608691 -0.270232  0.812341  0.499740
2013-01-03  0.474347 -0.563924 -0.997321 -1.100043
2013-01-04 -0.756437  0.321687  0.760949  0.323469
2013-01-05 -0.548955  1.805970  1.518866 -0.354000
2013-01-06 -0.823431  0.130215  1.267299  0.332765

In [ ]:
df.sort_index(ascending=False)

                   A         B         C         D
2013-01-06 -0.823431  0.130215  1.267299  0.332765
2013-01-05 -0.548955  1.805970  1.518866 -0.354000
2013-01-04 -0.756437  0.321687  0.760949  0.323469
2013-01-03  0.474347 -0.563924 -0.997321 -1.100043
2013-01-02  1.608691 -0.270232  0.812341  0.499740
2013-01-01 -0.275786 -0.552108  0.120747  0.748216

In [ ]:
df.sort_index(axis=1, ascending = False)

                   D         C         B         A
2013-01-01  0.748216  0.120747 -0.552108 -0.275786
2013-01-02  0.499740  0.812341 -0.270232  1.608691
2013-01-03 -1.100043 -0.997321 -0.563924  0.474347
2013-01-04  0.323469  0.760949  0.321687 -0.756437
2013-01-05 -0.354000  1.518866  1.805970 -0.548955
2013-01-06  0.332765  1.267299  0.130215 -0.823431

In [ ]:
df[["D","C","B","A"]]

                   D         C         B         A
2013-01-01  0.748216  0.120747 -0.552108 -0.275786
2013-01-02  0.499740  0.812341 -0.270232  1.608691
2013-01-03 -1.100043 -0.997321 -0.563924  0.474347
2013-01-04  0.323469  0.760949  0.321687 -0.756437
2013-01-05 -0.354000  1.518866  1.805970 -0.548955
2013-01-06  0.332765  1.267299  0.130215 -0.823431

In [ ]:
df.sort_values(by="B")

                   A         B         C         D
2013-01-03  0.474347 -0.563924 -0.997321 -1.100043
2013-01-01 -0.275786 -0.552108  0.120747  0.748216
2013-01-02  1.608691 -0.270232  0.812341  0.499740
2013-01-06 -0.823431  0.130215  1.267299  0.332765
2013-01-04 -0.756437  0.321687  0.760949  0.323469
2013-01-05 -0.548955  1.805970  1.518866 -0.354000

In [ ]:
df.sort_values(by="B", ascending=False)

                   A         B         C         D
2013-01-05 -0.548955  1.805970  1.518866 -0.354000
2013-01-04 -0.756437  0.321687  0.760949  0.323469
2013-01-06 -0.823431  0.130215  1.267299  0.332765
2013-01-02  1.608691 -0.270232  0.812341  0.499740
2013-01-01 -0.275786 -0.552108  0.120747  0.748216
2013-01-03  0.474347 -0.563924 -0.997321 -1.100043

In [ ]:
df.shape

(6, 4)

### (Selection, 데이터 추출 
1. df.loc, df.iloc, df.at, df.iat

In [ ]:
df

                   A         B         C         D
2013-01-01 -0.275786 -0.552108  0.120747  0.748216
2013-01-02  1.608691 -0.270232  0.812341  0.499740
2013-01-03  0.474347 -0.563924 -0.997321 -1.100043
2013-01-04 -0.756437  0.321687  0.760949  0.323469
2013-01-05 -0.548955  1.805970  1.518866 -0.354000
2013-01-06 -0.823431  0.130215  1.267299  0.332765

In [ ]:
df["A"]

2013-01-01   -0.275786
2013-01-02    1.608691
2013-01-03    0.474347
2013-01-04   -0.756437
2013-01-05   -0.548955
2013-01-06   -0.823431
Freq: D, Name: A, dtype: float64

In [ ]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.275786 -0.552108  0.120747  0.748216
2013-01-02  1.608691 -0.270232  0.812341  0.499740
2013-01-03  0.474347 -0.563924 -0.997321 -1.100043

In [ ]:
df["20130102":"20130104"]

                   A         B         C         D
2013-01-02  1.608691 -0.270232  0.812341  0.499740
2013-01-03  0.474347 -0.563924 -0.997321 -1.100043
2013-01-04 -0.756437  0.321687  0.760949  0.323469

In [ ]:
df["2013-01-02":"2013-01-04"]

                   A         B         C         D
2013-01-02  1.608691 -0.270232  0.812341  0.499740
2013-01-03  0.474347 -0.563924 -0.997321 -1.100043
2013-01-04 -0.756437  0.321687  0.760949  0.323469

## ( Selection by label )

In [ ]:
df.loc[dates[0]]

A   -0.275786
B   -0.552108
C    0.120747
D    0.748216
Name: 2013-01-01 00:00:00, dtype: float64

In [ ]:
dates[0]

Timestamp('2013-01-01 00:00:00', freq='D')

In [ ]:
df.loc[:,["A","B"]]

                   A         B
2013-01-01 -0.275786 -0.552108
2013-01-02  1.608691 -0.270232
2013-01-03  0.474347 -0.563924
2013-01-04 -0.756437  0.321687
2013-01-05 -0.548955  1.805970
2013-01-06 -0.823431  0.130215

In [ ]:
df.loc["20130102":"20130104",["A","B"]]

                   A         B
2013-01-02  1.608691 -0.270232
2013-01-03  0.474347 -0.563924
2013-01-04 -0.756437  0.321687

In [ ]:
df.loc["20130102", ["A","B"]]

A    1.608691
B   -0.270232
Name: 2013-01-02 00:00:00, dtype: float64

In [ ]:
df.loc[dates[0], "A"]

-0.27578601386617546

In [ ]:
df.at[dates[0],"A"]

-0.27578601386617546

### ( Selection by postion )

In [ ]:
df

                   A         B         C         D
2013-01-01  0.472986 -0.681426  0.242439 -1.700736
2013-01-02  0.753143 -1.534721  0.005127 -0.120228
2013-01-03 -0.806982  2.871819 -0.597823  0.472457
2013-01-04  1.095956 -1.215169  1.342356 -0.122150
2013-01-05  1.012515 -0.913869 -1.029530  1.209796
2013-01-06  0.501872  0.138846  0.640761  0.527333

In [ ]:
df.iloc[3]

A    1.095956
B   -1.215169
C    1.342356
D   -0.122150
Name: 2013-01-04 00:00:00, dtype: float64

In [ ]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04  1.095956 -1.215169
2013-01-05  1.012515 -0.913869

In [ ]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02  0.753143  0.005127
2013-01-03 -0.806982 -0.597823
2013-01-05  1.012515 -1.029530

In [ ]:
df.iloc[1:3, :]

                   A         B         C         D
2013-01-02  0.753143 -1.534721  0.005127 -0.120228
2013-01-03 -0.806982  2.871819 -0.597823  0.472457

In [ ]:
df.iloc[:, 1:3]

                   B         C
2013-01-01 -0.681426  0.242439
2013-01-02 -1.534721  0.005127
2013-01-03  2.871819 -0.597823
2013-01-04 -1.215169  1.342356
2013-01-05 -0.913869 -1.029530
2013-01-06  0.138846  0.640761

In [ ]:
df.iloc[1,1]

-1.534721340208044

In [ ]:
df.iat[1,1]

-1.534721340208044

### ( Boolean indexing )

In [ ]:
df["A"] > 0

2013-01-01     True
2013-01-02     True
2013-01-03    False
2013-01-04     True
2013-01-05     True
2013-01-06     True
Freq: D, Name: A, dtype: bool

In [ ]:
df[df["A"] > 0.6]

                   A         B         C         D
2013-01-02  0.753143 -1.534721  0.005127 -0.120228
2013-01-04  1.095956 -1.215169  1.342356 -0.122150
2013-01-05  1.012515 -0.913869 -1.029530  1.209796

In [ ]:
df[df>0]

                   A         B         C         D
2013-01-01  0.472986       NaN  0.242439       NaN
2013-01-02  0.753143       NaN  0.005127       NaN
2013-01-03       NaN  2.871819       NaN  0.472457
2013-01-04  1.095956       NaN  1.342356       NaN
2013-01-05  1.012515       NaN       NaN  1.209796
2013-01-06  0.501872  0.138846  0.640761  0.527333

In [ ]:
df2 = df.copy()

In [ ]:
df2["E"] = ["one","one","two","three","four","three"]
df2

                   A         B         C         D      E
2013-01-01  0.472986 -0.681426  0.242439 -1.700736    one
2013-01-02  0.753143 -1.534721  0.005127 -0.120228    one
2013-01-03 -0.806982  2.871819 -0.597823  0.472457    two
2013-01-04  1.095956 -1.215169  1.342356 -0.122150  three
2013-01-05  1.012515 -0.913869 -1.029530  1.209796   four
2013-01-06  0.501872  0.138846  0.640761  0.527333  three

In [ ]:
e = ["one","one","two","three","four","three"]
df2["E"] = e
df2

                   A         B         C         D      E
2013-01-01  0.472986 -0.681426  0.242439 -1.700736    one
2013-01-02  0.753143 -1.534721  0.005127 -0.120228    one
2013-01-03 -0.806982  2.871819 -0.597823  0.472457    two
2013-01-04  1.095956 -1.215169  1.342356 -0.122150  three
2013-01-05  1.012515 -0.913869 -1.029530  1.209796   four
2013-01-06  0.501872  0.138846  0.640761  0.527333  three

In [ ]:
df2["E"].isin(["two","four"])

2013-01-01    False
2013-01-02    False
2013-01-03     True
2013-01-04    False
2013-01-05     True
2013-01-06    False
Freq: D, Name: E, dtype: bool

In [ ]:
df2[df2["E"].isin(["two","four"])]

                   A         B         C         D     E
2013-01-03 -0.806982  2.871819 -0.597823  0.472457   two
2013-01-05  1.012515 -0.913869 -1.029530  1.209796  four

### ( Setting )

In [ ]:
s1 = pd.Series([1,2,3,4,5,6],
              index=pd.date_range("20130102", periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [ ]:
df["F"] = s1
df

                   A         B         C         D    F
2013-01-01  0.472986 -0.681426  0.242439 -1.700736  NaN
2013-01-02  0.753143 -1.534721  0.005127 -0.120228  1.0
2013-01-03 -0.806982  2.871819 -0.597823  0.472457  2.0
2013-01-04  1.095956 -1.215169  1.342356 -0.122150  3.0
2013-01-05  1.012515 -0.913869 -1.029530  1.209796  4.0
2013-01-06  0.501872  0.138846  0.640761  0.527333  5.0

In [ ]:
df.loc[dates[0],"A"] = 0 # df.at[dates[0],"A"]

In [ ]:
df

                   A         B         C         D    F
2013-01-01  0.000000 -0.681426  0.242439 -1.700736  NaN
2013-01-02  0.753143 -1.534721  0.005127 -0.120228  1.0
2013-01-03 -0.806982  2.871819 -0.597823  0.472457  2.0
2013-01-04  1.095956 -1.215169  1.342356 -0.122150  3.0
2013-01-05  1.012515 -0.913869 -1.029530  1.209796  4.0
2013-01-06  0.501872  0.138846  0.640761  0.527333  5.0

In [ ]:
df.iloc[0,1] = 0
df

                   A         B         C         D    F
2013-01-01  0.000000  0.000000  0.242439 -1.700736  NaN
2013-01-02  0.753143 -1.534721  0.005127 -0.120228  1.0
2013-01-03 -0.806982  2.871819 -0.597823  0.472457  2.0
2013-01-04  1.095956 -1.215169  1.342356 -0.122150  3.0
2013-01-05  1.012515 -0.913869 -1.029530  1.209796  4.0
2013-01-06  0.501872  0.138846  0.640761  0.527333  5.0

In [ ]:
df.loc[:,"D"]

2013-01-01   -1.700736
2013-01-02   -0.120228
2013-01-03    0.472457
2013-01-04   -0.122150
2013-01-05    1.209796
2013-01-06    0.527333
Freq: D, Name: D, dtype: float64

In [ ]:
np.array([5] * len(df))

array([5, 5, 5, 5, 5, 5])

In [ ]:
df.loc[:,"D"] = np.array([5] * len(df))
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.242439  5  NaN
2013-01-02  0.753143 -1.534721  0.005127  5  1.0
2013-01-03 -0.806982  2.871819 -0.597823  5  2.0
2013-01-04  1.095956 -1.215169  1.342356  5  3.0
2013-01-05  1.012515 -0.913869 -1.029530  5  4.0
2013-01-06  0.501872  0.138846  0.640761  5  5.0

In [ ]:
df2 = df.copy()

In [ ]:
df2 > 0

                A      B      C     D      F
2013-01-01  False  False   True  True  False
2013-01-02   True  False   True  True   True
2013-01-03  False   True  False  True   True
2013-01-04   True  False   True  True   True
2013-01-05   True  False  False  True   True
2013-01-06   True   True   True  True   True

In [ ]:
df2[df2>0]

                   A         B         C  D    F
2013-01-01       NaN       NaN  0.242439  5  NaN
2013-01-02  0.753143       NaN  0.005127  5  1.0
2013-01-03       NaN  2.871819       NaN  5  2.0
2013-01-04  1.095956       NaN  1.342356  5  3.0
2013-01-05  1.012515       NaN       NaN  5  4.0
2013-01-06  0.501872  0.138846  0.640761  5  5.0

In [ ]:
-df2

                   A         B         C    D    F
2013-01-01 -0.000000 -0.000000 -0.242439 -5.0  NaN
2013-01-02 -0.753143  1.534721 -0.005127 -5.0 -1.0
2013-01-03  0.806982 -2.871819  0.597823 -5.0 -2.0
2013-01-04 -1.095956  1.215169 -1.342356 -5.0 -3.0
2013-01-05 -1.012515  0.913869  1.029530 -5.0 -4.0
2013-01-06 -0.501872 -0.138846 -0.640761 -5.0 -5.0

In [ ]:
df2[df2>0] = -df2 
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.242439 -5  NaN
2013-01-02 -0.753143 -1.534721 -0.005127 -5 -1.0
2013-01-03 -0.806982 -2.871819 -0.597823 -5 -2.0
2013-01-04 -1.095956 -1.215169 -1.342356 -5 -3.0
2013-01-05 -1.012515 -0.913869 -1.029530 -5 -4.0
2013-01-06 -0.501872 -0.138846 -0.640761 -5 -5.0

### ( Missing Data )

In [ ]:
df1 = df.reindex(index=dates[0:4], 
                columns=list(df.columns) + ["E"])
df1

                   A         B         C  D    F   E
2013-01-01  0.000000  0.000000  0.242439  5  NaN NaN
2013-01-02  0.753143 -1.534721  0.005127  5  1.0 NaN
2013-01-03 -0.806982  2.871819 -0.597823  5  2.0 NaN
2013-01-04  1.095956 -1.215169  1.342356  5  3.0 NaN

In [ ]:
df1.loc[dates[0]:dates[1],"E"] =1
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  0.242439  5  NaN  1.0
2013-01-02  0.753143 -1.534721  0.005127  5  1.0  1.0
2013-01-03 -0.806982  2.871819 -0.597823  5  2.0  NaN
2013-01-04  1.095956 -1.215169  1.342356  5  3.0  NaN

In [ ]:
df1.dropna(how="any")

                   A         B         C  D    F    E
2013-01-02  0.753143 -1.534721  0.005127  5  1.0  1.0

In [ ]:
df1.dropna(how="all")

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  0.242439  5  NaN  1.0
2013-01-02  0.753143 -1.534721  0.005127  5  1.0  1.0
2013-01-03 -0.806982  2.871819 -0.597823  5  2.0  NaN
2013-01-04  1.095956 -1.215169  1.342356  5  3.0  NaN

In [ ]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  0.242439  5  5.0  1.0
2013-01-02  0.753143 -1.534721  0.005127  5  1.0  1.0
2013-01-03 -0.806982  2.871819 -0.597823  5  2.0  5.0
2013-01-04  1.095956 -1.215169  1.342356  5  3.0  5.0

In [ ]:
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  0.242439  5  NaN  1.0
2013-01-02  0.753143 -1.534721  0.005127  5  1.0  1.0
2013-01-03 -0.806982  2.871819 -0.597823  5  2.0  NaN
2013-01-04  1.095956 -1.215169  1.342356  5  3.0  NaN

### ( Operations )

In [ ]:
df.mean()

A    0.426084
B   -0.108849
C    0.100555
D    5.000000
F    3.000000
dtype: float64

In [ ]:
df.mean(axis=1)

2013-01-01    1.310610
2013-01-02    1.044710
2013-01-03    1.693403
2013-01-04    1.844629
2013-01-05    1.613823
2013-01-06    2.256296
Freq: D, dtype: float64

In [ ]:
s = pd.Series([1,3,5,np.nan, 6,8], 
             index = dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [ ]:
pd.Series([1,3,5,np.nan, 6,8], 
             index = dates)

2013-01-01    1.0
2013-01-02    3.0
2013-01-03    5.0
2013-01-04    NaN
2013-01-05    6.0
2013-01-06    8.0
Freq: D, dtype: float64

In [ ]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.242439  5  NaN
2013-01-02  0.753143 -1.534721  0.005127  5  1.0
2013-01-03 -0.806982  2.871819 -0.597823  5  2.0
2013-01-04  1.095956 -1.215169  1.342356  5  3.0
2013-01-05  1.012515 -0.913869 -1.029530  5  4.0
2013-01-06  0.501872  0.138846  0.640761  5  5.0

In [ ]:
df.sub(s, axis="index")

                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03 -1.806982  1.871819 -1.597823  4.0  1.0
2013-01-04 -1.904044 -4.215169 -1.657644  2.0  0.0
2013-01-05 -3.987485 -5.913869 -6.029530  0.0 -1.0
2013-01-06       NaN       NaN       NaN  NaN  NaN

### ( Apply )

In [ ]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.242439  5  NaN
2013-01-02  0.753143 -1.534721  0.005127  5  1.0
2013-01-03 -0.806982  2.871819 -0.597823  5  2.0
2013-01-04  1.095956 -1.215169  1.342356  5  3.0
2013-01-05  1.012515 -0.913869 -1.029530  5  4.0
2013-01-06  0.501872  0.138846  0.640761  5  5.0

In [ ]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000  0.242439   5   NaN
2013-01-02  0.753143 -1.534721  0.247567  10   1.0
2013-01-03 -0.053839  1.337098 -0.350256  15   3.0
2013-01-04  1.042117  0.121929  0.992100  20   6.0
2013-01-05  2.054633 -0.791940 -0.037430  25  10.0
2013-01-06  2.556505 -0.653094  0.603331  30  15.0

In [ ]:
df.apply(lambda x: x.max() - x.min())

A    1.902938
B    4.406541
C    2.371887
D    0.000000
F    4.000000
dtype: float64

In [ ]:
np.nan

nan

In [ ]:
"nan"

'nan'

In [ ]:
a = np.nan
b = "nan"
c = ""

In [ ]:
a==b

False

In [ ]:
a==c

False

In [ ]:
NaN

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10));s

0    4
1    0
2    2
3    6
4    6
5    5
6    3
7    2
8    4
9    2
dtype: int32

In [ ]:
s.value_counts()

2    3
4    2
6    2
0    1
3    1
5    1
dtype: int64

In [ ]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", 
               np.nan, "CABA", "dog", "cat"])
s

0       A
1       B
2       C
3    Aaba
4    Baca
5     NaN
6    CABA
7     dog
8     cat
dtype: object

In [ ]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

pandas.core.series.Series

### ( Merge)

In [ ]:
df1 = pd.DataFrame(
   ...:     {
   ...:         "A": ["A0", "A1", "A2", "A3"],
   ...:         "B": ["B0", "B1", "B2", "B3"],
   ...:         "C": ["C0", "C1", "C2", "C3"],
   ...:         "D": ["D0", "D1", "D2", "D3"],
   ...:     },
   ...:     index=[0, 1, 2, 3],
   ...: )
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df2 = pd.DataFrame(
   ...:     {
   ...:         "A": ["A4", "A5", "A6", "A7"],
   ...:         "B": ["B4", "B5", "B6", "B7"],
   ...:         "C": ["C4", "C5", "C6", "C7"],
   ...:         "D": ["D4", "D5", "D6", "D7"],
   ...:     },
   ...:     index=[4, 5, 6, 7],
   ...: )
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
pd.concat([df2,df1])

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
pd.concat([df2,df1], ignore_index=True)

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7
4  A0  B0  C0  D0
5  A1  B1  C1  D1
6  A2  B2  C2  D2
7  A3  B3  C3  D3

In [ ]:
pd.concat([df2,df1], axis=1)

     A    B    C    D    A    B    C    D
0  NaN  NaN  NaN  NaN   A0   B0   C0   D0
1  NaN  NaN  NaN  NaN   A1   B1   C1   D1
2  NaN  NaN  NaN  NaN   A2   B2   C2   D2
3  NaN  NaN  NaN  NaN   A3   B3   C3   D3
4   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   A7   B7   C7   D7  NaN  NaN  NaN  NaN

In [ ]:
df1.append(df2)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
df2.append(df1)

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df2.append(df1)

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df2.append(df1,sort=True)

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df = pd.DataFrame(
   ....:     {
   ....:         "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
   ....:         "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
   ....:         "C": np.random.randn(8),
   ....:         "D": np.random.randn(8),
   ....:     }
   ....: )
df

     A      B         C         D
0  foo    one -0.086147 -2.549828
1  bar    one  0.493514  0.708756
2  foo    two -1.164466  0.094275
3  bar  three -2.399881 -0.588244
4  foo    two -0.610064 -0.207758
5  bar    two -2.233480  0.163195
6  foo    one  0.794752  0.857169
7  foo  three  1.356802 -1.348467

In [ ]:
df.groupby("A")

In [ ]:
list(df.groupby("A"))

[('bar',
       A      B         C         D
  1  bar    one  0.493514  0.708756
  3  bar  three -2.399881 -0.588244
  5  bar    two -2.233480  0.163195),
 ('foo',
       A      B         C         D
  0  foo    one -0.086147 -2.549828
  2  foo    two -1.164466  0.094275
  4  foo    two -0.610064 -0.207758
  6  foo    one  0.794752  0.857169
  7  foo  three  1.356802 -1.348467)]

In [ ]:
df.groupby("A").sum()

            C         D
A
bar -4.139848  0.283706
foo  0.290878 -3.154610

In [ ]:
df.groupby(["A","B"]).sum()

                  C         D
A   B
bar one    0.493514  0.708756
    three -2.399881 -0.588244
    two   -2.233480  0.163195
foo one    0.708606 -1.692659
    three  1.356802 -1.348467
    two   -1.774530 -0.113483