In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('./train.csv')
test  = pd.read_csv('./test.csv')
sub   = pd.read_csv('./submit.csv')

In [3]:
train.shape, test.shape, sub.shape

((456, 15), (50, 14), (50, 2))

In [4]:
train.head()

,SEQ,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [5]:
test.head()

,SEQ,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,457,4.66883,0,18.1,0,0.713,5.976,87.9,2.5806,24,666,20.2,10.48,19.01
1,458,8.20058,0,18.1,0,0.713,5.936,80.3,2.7792,24,666,20.2,3.50,16.94
2,459,7.75223,0,18.1,0,0.713,6.301,83.7,2.7831,24,666,20.2,272.21,16.23
3,460,6.80117,0,18.1,0,0.713,6.081,84.4,2.7175,24,666,20.2,396.90,14.70
4,461,4.81213,0,18.1,0,0.713,6.701,90.0,2.5975,24,666,20.2,255.23,16.42

In [6]:
train.drop('SEQ', axis=1, inplace=True)
test.drop('SEQ', axis=1, inplace=True)

In [7]:
sub.head()

   SEQ  target
0  457     NaN
1  458     NaN
2  459     NaN
3  460     NaN
4  461     NaN

In [8]:
train.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
target     0
dtype: int64

In [9]:
test.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [10]:
train['target'] = np.log(train['target'])
train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,3.178054
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,3.072693
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,3.546740
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,3.508556
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,3.589059

In [11]:
test.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,4.66883,0,18.1,0,0.713,5.976,87.9,2.5806,24,666,20.2,10.48,19.01
1,8.20058,0,18.1,0,0.713,5.936,80.3,2.7792,24,666,20.2,3.50,16.94
2,7.75223,0,18.1,0,0.713,6.301,83.7,2.7831,24,666,20.2,272.21,16.23
3,6.80117,0,18.1,0,0.713,6.081,84.4,2.7175,24,666,20.2,396.90,14.70
4,4.81213,0,18.1,0,0.713,6.701,90.0,2.5975,24,666,20.2,255.23,16.42

In [12]:
from sklearn.preprocessing import RobustScaler

rs = RobustScaler()
rs.fit(train[test.columns])
train[test.columns] = rs.transform(train[test.columns])
test[test.columns]  = rs.transform(test[test.columns])

In [13]:
train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,-0.099513,0.9,-0.442673,0.0,0.101695,0.467957,-0.217661,0.177563,-1.00,-0.09375,-0.970588,0.282118,-0.5535,3.178054
1,-0.089895,0.0,-0.081245,0.0,-0.288136,0.262350,0.043914,0.439399,-0.75,-0.43125,-0.235294,0.282118,-0.1375,3.072693
2,-0.089904,0.0,-0.081245,0.0,-0.288136,1.282377,-0.295943,0.439399,-0.75,-0.43125,-0.235294,0.079252,-0.6485,3.546740
3,-0.087577,0.0,-0.452544,0.0,-0.350282,1.032710,-0.588067,0.766314,-0.50,-0.55625,0.029412,0.168972,-0.7575,3.508556
4,-0.070770,0.0,-0.452544,0.0,-0.350282,1.231642,-0.427685,0.766314,-0.50,-0.55625,0.029412,0.282118,-0.5185,3.589059

In [14]:
test.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,2.036816,0.0,0.756264,0.0,1.090395,-0.331776,0.215752,-0.273031,4.75,2.21875,0.470588,-18.978692,0.8495
1,3.655038,0.0,0.756264,0.0,1.090395,-0.385180,0.070644,-0.213744,4.75,2.21875,0.470588,-19.326604,0.6425
2,3.449607,0.0,0.756264,0.0,1.090395,0.102136,0.135561,-0.212580,4.75,2.21875,0.470588,-5.932960,0.5715
3,3.013839,0.0,0.756264,0.0,1.090395,-0.191589,0.148926,-0.232163,4.75,2.21875,0.470588,0.282118,0.4185
4,2.102475,0.0,0.756264,0.0,1.090395,0.636182,0.255847,-0.267986,4.75,2.21875,0.470588,-6.779315,0.5905

In [15]:
X = train.drop('target', axis=1)
y = train['target']

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y, shuffle=True, random_state=0)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((342, 13), (114, 13), (342,), (114,))

In [31]:
from xgboost import XGBRFRegressor

model = XGBRFRegressor()
model.fit(X_train, y_train)
pred = model.predict(X_val)
print(pred.shape)
pred[:10]

(114,)

array([2.9916894, 2.997698 , 3.1504283, 2.7235453, 3.5004988, 3.1056848,
       3.0016313, 3.2361612, 3.685687 , 2.3101342], dtype=float32)

In [32]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_val, pred, squared=False)

0.1619442031159147

In [33]:
from sklearn import metrics
metrics.SCORERS.keys()

dict_keys(['explained_variance', 'r2', 'max_error', 'neg_median_absolute_error', 'neg_mean_absolute_error', 'neg_mean_squared_error', 'neg_mean_squared_log_error', 'neg_root_mean_squared_error', 'neg_mean_poisson_deviance', 'neg_mean_gamma_deviance', 'accuracy', 'roc_auc', 'roc_auc_ovr', 'roc_auc_ovo', 'roc_auc_ovr_weighted', 'roc_auc_ovo_weighted', 'balanced_accuracy', 'average_precision', 'neg_log_loss', 'neg_brier_score', 'adjusted_rand_score', 'homogeneity_score', 'completeness_score', 'v_measure_score', 'mutual_info_score', 'adjusted_mutual_info_score', 'normalized_mutual_info_score', 'fowlkes_mallows_score', 'precision', 'precision_macro', 'precision_micro', 'precision_samples', 'precision_weighted', 'recall', 'recall_macro', 'recall_micro', 'recall_samples', 'recall_weighted', 'f1', 'f1_macro', 'f1_micro', 'f1_samples', 'f1_weighted', 'jaccard', 'jaccard_macro', 'jaccard_micro', 'jaccard_samples', 'jaccard_weighted'])

In [43]:
from sklearn.model_selection import GridSearchCV

params = {
    'n_estimators': [100, 200]
}

gscv = GridSearchCV(
    model, params, 
    scoring='neg_root_mean_squared_error', 
    refit=True, cv=5
)

gscv.fit(X, y)

GridSearchCV(cv=5,
             estimator=XGBRFRegressor(base_score=0.5, booster='gbtree',
                                      colsample_bylevel=1, colsample_bytree=1,
                                      gamma=0, gpu_id=-1,
                                      importance_type='gain',
                                      interaction_constraints='',
                                      max_delta_step=0, max_depth=6,
                                      min_child_weight=1, missing=nan,
                                      monotone_constraints='()',
                                      n_estimators=100, n_jobs=4,
                                      num_parallel_tree=100,
                                      objective='reg:squarederror',
                                      random_state=0, reg_alpha=0,
                                      scale_pos_weight=1, tree_method='exact',
                                      validate_parameters=1, verbosity=None),
             param_grid={'n_estimators': [100, 200]},
             scoring='neg_root_mean_squared_error')

In [44]:
- gscv.best_score_

0.21820089401050025