In [ ]:
import pandas as pd
import numpy as np

In [ ]:
titles = pd.read_csv('C:/soryeong/movies_title.csv')
titles

                          title  year
0                The Rising Son  1990
1             Ashes of Kukulcan  2016
2       The Thousand Plane Raid  1969
3              Crucea de piatra  1993
4                        The 86  2015
...                         ...   ...
215976           Le mouton noir  1922
215977      Edge of the Unknown  2015
215978                    E yue  2005
215979             Lakota Girls  2015
215980             The Sting II  1983

[215981 rows x 2 columns]

In [ ]:
titles.head(5)

                     title  year
0           The Rising Son  1990
1        Ashes of Kukulcan  2016
2  The Thousand Plane Raid  1969
3         Crucea de piatra  1993
4                   The 86  2015

In [ ]:
titles.shape

(215981, 2)

In [ ]:
titles.columns

Index(['title', 'year'], dtype='object')

In [ ]:
titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215981 entries, 0 to 215980
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   title   215981 non-null  object
 1   year    215981 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.3+ MB

In [ ]:
titles.tail(5)

                      title  year
215976       Le mouton noir  1922
215977  Edge of the Unknown  2015
215978                E yue  2005
215979         Lakota Girls  2015
215980         The Sting II  1983

In [ ]:
titles.isnull().sum()

title    0
year     0
dtype: int64

In [ ]:
titles.describe()

                year
count  215981.000000
mean     1984.553822
std        29.343957
min      1894.000000
25%      1965.000000
50%      1994.000000
75%      2010.000000
max      2024.000000

In [ ]:
titles['title'].value_counts()

Hamlet                       19
Macbeth                      14
Carmen                       14
The Three Musketeers         12
Maya                         11
                             ..
Nu ji zhe                     1
Ta'm e guilass                1
Fight the Panda Syndicate     1
Die Datsche                   1
El jorobado de la Morgue      1
Name: title, Length: 197575, dtype: int64

In [ ]:
titles['year'].value_counts()

2015    13978
2014     8209
2013     7664
2012     7273
2011     6844
        ...
1899        2
2024        2
1903        1
1897        1
1894        1
Name: year, Length: 124, dtype: int64

전체 영화는 몇개

In [ ]:
titles['title'].value_counts

<bound method IndexOpsMixin.value_counts of 0                  The Rising Son
1               Ashes of Kukulcan
2         The Thousand Plane Raid
3                Crucea de piatra
4                          The 86
                   ...
215976             Le mouton noir
215977        Edge of the Unknown
215978                      E yue
215979               Lakota Girls
215980               The Sting II
Name: title, Length: 215981, dtype: object>

In [ ]:
titles2 = titles.copy()

In [ ]:
titles2.drop_duplicates(['title']).count()

title    197575
year     197575
dtype: int64

가장 빠른 시기에 제작된 영화 2개

In [ ]:
titles.sort_values(by='year', ascending=True).head(2)

                                                    title  year
165182                                         Miss Jerry  1894
85708   Reproduction of the Corbett and Fitzsimmons Fight  1897

In [ ]:
titles.sort_values(by='year', ascending=True).head(2).title

165182                                           Miss Jerry
85708     Reproduction of the Corbett and Fitzsimmons Fight
Name: title, dtype: object

제목이 'Hamlet'인 영화는 몇개

In [ ]:
titles['title'].value_counts()

Hamlet                       19
Macbeth                      14
Carmen                       14
The Three Musketeers         12
Maya                         11
                             ..
Nu ji zhe                     1
Ta'm e guilass                1
Fight the Panda Syndicate     1
Die Datsche                   1
El jorobado de la Morgue      1
Name: title, Length: 197575, dtype: int64

In [ ]:
hl = titles[titles['title']=='Hamlet']
hl_sum = hl['title'].value_counts().sum()

print('제목이 Hamlet인 영화는', hl_sum, '개')

제목이 Hamlet인 영화는 19 개

In [ ]:
hl1 = titles[titles['title']=='Hamlet']
hl1

         title  year
5562    Hamlet  1948
26160   Hamlet  2016
37373   Hamlet  2015
42224   Hamlet  1990
43511   Hamlet  1910
68239   Hamlet  1954
85741   Hamlet  1976
87781   Hamlet  1987
87971   Hamlet  2000
91710   Hamlet  1921
114224  Hamlet  1969
154627  Hamlet  1913
163645  Hamlet  2009
169996  Hamlet  1964
186988  Hamlet  1996
192815  Hamlet  2011
195015  Hamlet  1911
205821  Hamlet  1973
207793  Hamlet  2014

In [ ]:
titles['title'] == 'Hamlet'

0         False
1         False
2         False
3         False
4         False
          ...
215976    False
215977    False
215978    False
215979    False
215980    False
Name: title, Length: 215981, dtype: bool

In [ ]:
####################################
is_Hamlet=titles["title"] == 'Hamlet'
Hamlet_f = titles[is_Hamlet]
Hamlet_f.value_counts().sum()

19

제목이 'Treasure Island'는 몇개, 제작년도 오름차순으로 나열

In [ ]:
tl = titles[titles['title']=='Treasure Island']
tl.sort_values(by='year')

                  title  year
191379  Treasure Island  1918
47769   Treasure Island  1920
192917  Treasure Island  1934
90175   Treasure Island  1950
104714  Treasure Island  1972
103646  Treasure Island  1973
190792  Treasure Island  1985
166675  Treasure Island  1999

In [ ]:
tl['title'].value_counts()

Treasure Island    8
Name: title, dtype: int64

1950년에서 1959년 사이에 만들어진 영화는 몇개

In [ ]:
a = titles['year'].isin([1950, 1951, 1952, 1953, 1954, 1955,
                     1956, 1957, 1958, 1959]) ;a

0         False
1         False
2         False
3         False
4         False
          ...
215976    False
215977    False
215978    False
215979    False
215980    False
Name: year, Length: 215981, dtype: bool

In [ ]:
a.sum()

12120

In [ ]:
titles[titles['year'].isin([1950, 1951, 1952, 1953, 1954, 1955,
                     1956, 1957, 1958, 1959])]

                                         title  year
9                               Women's Prison  1955
37      La momia azteca contra el robot humano  1958
86                            Botta e risposta  1950
88                         Perdeu-se um Marido  1957
106                             Qiu yu can hua  1953
...                                        ...   ...
215856                    Tischlein, deck dich  1956
215890                        Some Like It Hot  1959
215915                             Black Widow  1951
215919                             Encrucijada  1956
215945                       Te sigo esperando  1952

[12120 rows x 2 columns]

In [ ]:
titles[titles['year'].isin([1950, 1951, 1952, 1953, 1954, 1955,
                     1956, 1957, 1958, 1959])].value_counts().sum()

12120